<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Travel Planner Application</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/resets.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/form.css">
  <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>

  <div class="header">
    <div class="blog-title">Travel Planner</div>
  </div>
  </div>

  <div class="container">
    <div class="content">
      <img id="destination-img" src="/media/default.jpg">
      <div id="form">
        <div id="destination">
          <label id="destination-label" for="destination">My trip to:</label>
          <input id="destination-input" type="text" id="destination" placeholder="Enter Location">
        </div>


        <div id="departure">
          <label for="departure-label">Departing:</label>
          <input type="date" id="departure-input" name="trip-start" value="" min="2020-01-01" max="2100-01-01">
        </div>

        <div id="button-row">
          <button id="generate" type="submit">Save Trip</button>
          <button id="generate">Remove Trip</button>
        </div>

        <div id="weather">
          <div class="holder entry">
            <div id="entryHolder">
              <div id="countdown"></div>
              <div id="departureDate"></div>
              <div id="countdownDays"></div>
              <div id="weather-title"></div>
              <div id="avgTemp"></div>
              <div id="hiLoTemp"></div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="footer">
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
</body>

</html>